
@{
    ViewBag.Title = "Odjava";
}

<div>
    <h2>@ViewBag.Title</h2>
    <h4>Uspješna odjava!</h4>
</div>

<div>
    @Html.ActionLink("Prijava", "Prijava") | @Html.ActionLink("Predbilježba", "Predbiljezba","Predbiljezba")
</div>

